<!DOCTYPE html>
<html>
<head>
  <title>PetBnB</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAiTZRE_wQrpJJKBCnYg2q_fyA-xa9RX-E&libraries=places" %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
